<div style="float: right; background-color: black;height: 56px; padding: 10px;">
  <a href="login" style="text-decoration: none; color: white;">Logout</a>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CLANDLY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="serve">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="price">Prices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="offer">Offer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="container">
    <h3 style="text-align: center;">Prices</h3><br>
    <table class="table" style="width: 700px; margin-left: auto;margin-right: auto;">

      <tr style="border: 1px solid black;">
        <th colspan="2" style="width: 400px; text-align: center;">Hair Coloring</th>
      </tr>
      <tr style="border: 1px solid black; color: aliceblue; background-color: black;">
        <td style="width: 400px; padding: 10px;">
          Full Hair Color<br>
          Half Hair Color<br>
          Layered Hair Color<br>
          Others
        </td>
        <td>
          $15<br>
          $8<br>
          $10<br>
        </td>
      </tr>

      <tr style="border: 1px solid black;">
        <th colspan="2" style="width: 400px; text-align: center;">Facial And Cleanups</th>
      </tr>
      <tr style="border: 1px solid black;color: aliceblue; background-color: black;">
        <td style="width: 400px; padding: 10px;">
          Gold facial<br>
          Pearl facial<br>
          Mini facial<br>
          Core facial<br>
          Clean Up<br>
          Others
        </td>
        <td>
          $20<br>
          $15<br>
          $10<br>
          $10<br>
          $10<br>
        </td>
      </tr>

      <tr style="border: 1px solid black;" >
        <th colspan="2" style="width: 400px; text-align: center;">Personal Clear</th>
      </tr>
      <tr style="border: 1px solid black;color: aliceblue; background-color: black;">
        <td style="width: 400px; padding: 10px;">
          Eyebrow Wax<br>
          Eyebrow Tint<br>
          Eye Lash Tint<br>
          Waxing<br>
          Others
        </td>
        <td>
          $5<br>
          $4<br>
          $5<br>
          $5<br>
          $5<br>
        </td>
      </tr>

      <tr style="border: 1px solid black;">
        <th colspan="2" style="width: 400px; text-align: center;">Menicare</th>
      </tr>
      <tr style="border: 1px solid black;color: aliceblue; background-color: black;">
        <td style="width: 400px; padding: 10px;">
          Menicure<br>
          File & Paint<br>
          Refills<br>
          Nail Repair<br>
          Others
        </td>
        <td>
          $15<br>
          $10<br>
          $10<br>
          $15<br>
        </td>
      </tr>

      <tr style="border: 1px solid black;">
        <th colspan="2" style="width: 400px; text-align: center;">Pedicure</th>
      </tr>
      <tr style="border: 1px solid black;color: aliceblue; background-color: black;">
        <td style="width: 400px; padding: 10px;">
          Pedicure<br>
          File & Paint<br>
          Gel Toes<br>
          Others
        </td>
        <td>
          $15<br>
          $10<br>
          $10<br>
          $15<br>
        </td>
      </tr>

      <tr style="border: 1px solid black;">
        <th colspan="2" style="width: 400px; text-align: center;">Makeup</th>
      </tr>
      <tr style="border: 1px solid black;color: aliceblue; background-color: black;">
        <td style="width: 400px; padding: 10px;">
          Bridle Dressing & Makeup<br>
          Full Body<br>
          Half Body<br>
          Others
        </td>
        <td>
          $100<br>
          $25<br>
          $20<br>
          $15<br>
        </td>
      </tr>

    </table>
</div>

</div>
