<div style="float: right; background-color: black;height: 56px; padding: 10px;">
  <a href="login" style="text-decoration: none; color: white;">Logout</a>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CLANDLY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="serve">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="price">Prices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="offer">Offer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus">Contact Us</a>
      </li>
    </ul>
  </div>
</nav><br>
<div class="des">
  <h5>description</h5>
</div>
<div class="img" style="text-align: center;">
  <img src="https://www.anoos.com/assets/img/about_us.jpg" style="width: 100%;"><br><br>
  <a href="serve" style="text-align: center; text-decoration: none; color: white; background-color: black; padding: 15px;">
    View Services</a>
</div><br><br>
<div class="container">


    <h1 style="text-align: center;">Latest Offers</h1><br>
    <div class="img" style="text-align: center;">
      <img src="https://qph.cf2.quoracdn.net/main-qimg-efafd90d16cce4d39903a6aa2a012465" style="width: 800px; height: 450px;"><br><br>
      <a href="offer" style="text-align: center; text-decoration: none; color: white; background-color: black; padding: 15px;">
        View Offers</a>
    </div><br><br>
    <br>
</div>

